@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
        <h1>Administrar Contacto</h1>
        <div class="row">
          <div class="col-md-6">
            <label for="correo_cotacto" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo_cotacto">
            </div>
            <br />
            <div class="col-md-6">
            <label for="telefono_contacto" class="form-label">Telefono</label>
            <input type="password" class="form-control" id="telefono_contacto">
            </div>
            <br />
            <div class="col-md-6">
            <label for="redes_sociales" class="form-label">Redes Sociales</label>
            <input type="email" class="form-control" id="redes_sociales">
            </div>
          
       
        </div>
    </div>