<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    
    <div class="container mt-4">
        <h1 class="mb-4">Bienvenido Admin</h1>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><a class="btn btn-primary mb-2" href="{{ url_for('admin_noticias') }}" role="button">Administrar Noticias</a></li>
                    <li><a class="btn btn-primary mb-2" href="{{ url_for('admin_usuario') }}" role="button">Administrar Nosotros</a></li>
                    <li><a class="btn btn-primary mb-2" href="{{ url_for('admin_contacto') }}" role="button">Administrar Contactos</a></li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitudes
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ url_for('admin_certificado') }}" role="button">Certificado de Residencia</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('admin_reserva') }}" role="button">Reserva de Sede Vecinal</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h5>Powered by:</h5>
                <ul class="list-unstyled">
                  <li><strong>Nombre:</strong> Nicolás Zamorano Vásquez</li>
                  <li><strong>Escuela:</strong> Escuela de Informática y Telecomunicaciones</li>
                  <li><strong>Institución:</strong> DUOC UC</li>
                </ul>
              </div>
              <div class="col-md-6">
                <h5>Contacto</h5>
                <p>Email: <a href="mailto:ni.zamoranov@duocuc.cl" class="text-white">ni.zamoranov@duocuc.cl</a></p>
                <p>Teléfono: +56 9 562 712 75</p>
              </div>
            </div>
        </div>
        <div class="text-center py-3 mt-3" style="border-top: 1px solid #777;">
          <small>&copy; 2024 Todos los derechos reservados</small>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% endblock %}
</body>
</html>
