<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Formulario de Registro</h2>
        <form action="/registrar_usuario" id="registroForm" class="row g-3" method="POST">
            <div class="col-md-12">
                <label for="usuario" class="form-label">Usuario</label>
                <input id="usuario" name="usuario" class="form-control" type="text" />
                <span id="usuarioError" class="text-danger"></span>
            </div>
            
            <div class="col-md-6">
                <label for="contraseña" class="form-label">Contraseña</label>
                <input id="contraseña" name="contraseña" class="form-control" type="password" />
                <span id="contraseñaError" class="text-danger"></span>
            </div>
            
            <div class="col-md-6">
                <label for="confirmarContraseña" class="form-label">Repetir Contraseña</label>
                <input id="confirmarContraseña" name="confirmarContraseña" class="form-control" type="password" />
                <span id="confirmarContraseñaError" class="text-danger"></span>
            </div>
            
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" onclick="validarFormulario()">Registrarse</button>
            </div>
        </form>
    </div>
    {% block body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h5>Powered by:</h5>
                <ul class="list-unstyled">
                  <li><strong>Nombre:</strong> Nicolás Zamorano Vásquez</li>
                  <li><strong>Escuela:</strong> Escuela de Informática y Telecomunicaciones</li>
                  <li><strong>Institución:</strong> DUOC UC</li>
                </ul>
              </div>
              <div class="col-md-6">
                <h5>Contacto</h5>
                <p>Email: <a href="mailto:ni.zamoranov@duocuc.cl" class="text-white">ni.zamoranov@duocuc.cl</a></p>
                <p>Teléfono: +56 9 562 712 75</p>
              </div>
            </div>
        </div>
        <div class="text-center py-3 mt-3" style="border-top: 1px solid #777;">
          <small>&copy; 2024 Todos los derechos reservados</small>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% endblock %}
    <script>
        // Función para validar el formulario
         function validarFormulario() {
            event.preventDefault(); // Prevenir el envío estándar del formulario
            // Limpiar mensajes de error
            document.getElementById('usuarioError').textContent = '';
            document.getElementById('contraseñaError').textContent = '';
            document.getElementById('confirmarContraseñaError').textContent = '';

            // Capturar valores del formulario
            const usuario = document.getElementById('usuario').value.trim();
            const contraseña = document.getElementById('contraseña').value.trim();
            const confirmarContraseña = document.getElementById('confirmarContraseña').value.trim();

            let esValido = true;

            // Validación de nombres
            if (usuario === '') {
                document.getElementById('usuarioError').textContent = 'El campo nombres es obligatorio.';
                esValido = false;
            }

            // Validación de contraseña
            if (contraseña === '') {
                document.getElementById('contraseñaError').textContent = 'El campo contraseña es obligatorio.';
                esValido = false;
            } else if (contraseña.length < 6) {
                document.getElementById('contraseñaError').textContent = 'La contraseña debe tener al menos 6 caracteres.';
                esValido = false;
            }

            // Validación de confirmación de contraseña
            if (confirmarContraseña === '') {
                document.getElementById('confirmarContraseñaError').textContent = 'Debe confirmar la contraseña.';
                esValido = false;
            } else if (confirmarContraseña !== contraseña) {
                document.getElementById('confirmarContraseñaError').textContent = 'Las contraseñas no coinciden.';
                esValido = false;
            }

            if (esValido) {
    const data = {
        usuario: usuario,
        contraseña: contraseña,
        perfil: "user",
        cargo: "vecino",
    };
    console.log(data)
    fetch('/registro', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
        .then((response) => {
            if (response.ok) {
                return response.json(); // Convertir la respuesta en JSON
            } else {
                console.log(response)
                return response.json().then((errorData) => {
                    throw new Error(errorData.message || 'Error desconocido');
                });
            }
        })
        .then((data) => {
            alert('Formulario enviado con éxito');
            window.location.href = '/'; // Redirige a home.html
        })
        .catch((error) => {
            console.error('Error:', error);
            alert(`Ocurrió un error al enviar el formulario: ${error.message}`);
        });
}

        }
    </script>
</body>
</html>
