<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body><div class="container mt-4">
    <h2>Reservas para sede Vecinal n°14</h2>
    
</div>

<script>
    
</script>

    <div class="container mt-4">
        <div id="calendar"></div>

        <!-- Modal para crear/editar reservas -->
        <div class="modal fade" id="reservaModal" tabindex="-1" aria-labelledby="reservaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reservaModalLabel">Crear/Editar Reserva</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha</label>
                            <input type="datetime" class="form-control" id="fecha">
                        </div>
                        <div class="mb-3">
                            <label for="rut_solicitante" class="form-label">Rut solicitante</label>
                            <input type="text" class="form-control" id="rut_solicitante">
                        </div>
                        <div class="mb-3">
                            <label for="periodico" class="form-label">Periódico</label>
                            <input type="checkbox" id="periodico">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="guardarReservaBtn">Guardar Reserva</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h5>Powered by:</h5>
                <ul class="list-unstyled">
                  <li><strong>Nombre:</strong> Nicolás Zamorano Vásquez</li>
                  <li><strong>Escuela:</strong> Escuela de Informática y Telecomunicaciones</li>
                  <li><strong>Institución:</strong> DUOC UC</li>
                </ul>
              </div>
              <div class="col-md-6">
                <h5>Contacto</h5>
                <p>Email: <a href="mailto:ni.zamoranov@duocuc.cl" class="text-white">ni.zamoranov@duocuc.cl</a></p>
                <p>Teléfono: +56 9 562 712 75</p>
              </div>
            </div>
        </div>
        <div class="text-center py-3 mt-3" style="border-top: 1px solid #777;">
          <small>&copy; 2024 Todos los derechos reservados</small>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        
    
        document.addEventListener('DOMContentLoaded', async function() {
            var calendarEl = document.getElementById('calendar');
            var reservasTableBody = document.getElementById('reservasTable');
            var eventos= [({title: "Bingo1", start: '2024-12-04', allDay: true}),
                     ({title: "Bingo2", start: '2024-12-05', allDay: false}),
                     ({title: "Bingo3", start: '2024-12-06', allDay: true})]
            // Renderizar el calendario
            const segundo_evento = await cargaEventos();
            console.log("segundo_evento",segundo_evento)
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                initialView: 'dayGridMonth',
                firstDay: 1,
                editable: true,
                selectable: true,
                events: segundo_evento, 
                select: function(info) {
                    let modal = new bootstrap.Modal(document.getElementById('reservaModal'));
                    document.getElementById('fecha').value = info.startStr;
                    modal.show();
                }
            });
            console.log(calendar)
            calendar.render();

        });


        document.getElementById('guardarReservaBtn').addEventListener('click', function() {
            let nombre = document.getElementById('nombre').value;
            let fecha = document.getElementById('fecha').value;
            let rutSolicitante = document.getElementById('rut_solicitante').value;
            let periodo = document.getElementById('periodico').value;
            console.log("nombre",nombre);
            console.log("fecha",fecha);
            console.log("rutSolicitante",rutSolicitante);
            console.log("periodo",periodo);
            fetch('/reserva', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 
                    nombre: nombre, 
                    reserva_fecha_inicio: fecha, 
                    rut_solicitante: rutSolicitante, 
                    periodo: periodo 
                })
            })
            .then(response => response.json())
            .then(data => {
                // Verificar si 'calendar' está definido

                // Cerrar el modal
                let modal = bootstrap.Modal.getInstance(document.getElementById('reservaModal'));
                modal.hide();
            })
            .catch(error => console.error('Error al guardar la reserva:', error));
        });
        
        async function cargaEventos() {
            let eventos = [];
            try {
                const reservaResponse = await fetch('/api/reservas/aprobado');
                if (!reservaResponse.ok) throw new Error('Error al obtener las reservas');
                const reservas = await reservaResponse.json();

                // Convertir los datos de reservas en un formato adecuado para FullCalendar
                eventos = reservas.map(reserva => ({
                    title: reserva.reserva_nombre,  // Asigna el título adecuado del objeto de reserva
                    start: reserva.fecha_reserva_inicio,  // Usa la fecha de inicio de la reserva
                    allDay: false  // O ajusta si es necesario
                }));

                console.log("valor de eventos: ",eventos);  // Verifica los eventos cargados
            } catch (error) {
                console.error('Error al cargar los eventos:', error);
            }
            console.log("valores obtenidos para eventos: ",eventos)
            return eventos;
            
        };
    </script>
</body>
</html>
